
$themes: (
    light: (
        background: #BACEC1,
        color: #100C0D,
        darkOrange: #CC8B65,
        accentColor: #013328,
        brightOrange: #E59560,
        beige: #E3DCD2,
        cream: #F6F4E8,
    ),
    dark: (
        background: #013328,
        font: #F6F4E8,
        accentColor: #BACEC1,
        black: #100C0D,
        darkOrange: #CC8B65,
        brightOrange: #E59560,
        beige: #E3DCD2,
    )
);

