body {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 1fr;
};
nav {
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
};

.startMain {
    grid-row: 2;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr 2fr;
    column-gap: 1%;
    .Text {grid-row: 1;}
    .pic1 {
        grid-row: 2; 
        place-self: center;
        }
    .pic2 {
        grid-row: 3; 
        place-self: center;
    }
};

.sassMain {
    grid-row: 2;
};

footer {
    grid-row: 3;
    display: grid
};