//Body grid
body {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 1fr;
};

//Nav grid
nav {
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    #logga {grid-column: 1;}
    h1 {grid-column: 2;}
    .menu {grid-column: 3}
};

//Index main section grid
.startMain {
    grid-row: 2;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr 2fr;
    column-gap: 1%;
    .Text {grid-row: 1;}
    .pic1 {
        grid-row: 2; 
        place-self: center;
        }
    .pic2 {
        grid-row: 3; 
        place-self: center;
    }
};

//SASS main section grid
.sassMain {
    grid-row: 2;
};

//Fotter grid
footer {
    grid-row: 3;
    display: grid
};