/* Dark theme for website */

$Mint: #BACEC1; // light accent color
$myBlack: #100C0D; //Extra Dark (black) color
$DulledO: #CC8B65; //darker/dimmer orange accent color (will use more in dark theme)
$DarkGreen: #013328; //Background
$BrightO: #E59560; // more vivid bright orange accent color (will use more in light theme)
$Beige: #E3DCD2; // light neutral color
$Cream: #F6F4E8; //font

