/* Light theme for website */

$Mint: #BACEC1; // background color
$myBlack: #100C0D; // font
$DulledO: #CC8B65; // darker/dimmer orange accent color (will use more in dark theme)
$DarkGreen: #013328; // Extra Dark color
$BrightO: #E59560; // more vivid bright orange accent color (will use more in light theme)
$Beige: #E3DCD2; // Extra light neutral color
$Cream: #F6F4E8; // light neutral color
