//Color schemes
$lightTheme: (
    background: #80bd9f,
    font: #013328,
    bodyFont: #100C0D,
    navFoot: #b1efcd,
    BodyMain: #94d3b4,
    BodySec: #ccffdbf7,
    Link: #a8511fe0,
);

$darkTheme: (
    background: #013328,
    font: #E3DCD2,
    bodyFont: #F6F4E8,
    navFoot: #2e6752d7,
    BodyMain: #033e31f0,
    BodySec: #4a7a70d7,
    Link: #CC8B65,
);
