/* Theme for website */

$myBackground: #541412;
$myFontColor: #F8D4BA;
$myAccColor: #C34F5A;
$myExtraColor: #D69F3A;


/*
color combinations to try:
    Muted blues & orange
    #F6F4E8
    #BACEC1
    #E59560
    #1D3124

    Reds
    #F8D4BA
    #D69F3A
    #C34F5A
    #541412

    Vibrant colors
    #F0EFF4
    #EBC999
    #8CA9D3
    #F26659

    Nature colors
    #E3DCD2
    #CC8B65
    #013328
    #100C0D
*/