@use "variables" as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-body;
    line-height: 1.6;
    background: theme-color(light, bg);
    color: theme-color(light, text);
}

header, footer {
    background: theme-color(light, surface);
}

h1 {
    text-align: center;
    padding-top: 1rem;
    font-size: 1.7em;
}

h2, h3 {
    font-family: $font-heading;
    margin-top: 0;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    text-align: center;
    font-size: 0.95rem;
    padding: 1rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: theme-color(dark, bg);
        color: theme-color(dark, text);
    }
    header, footer {
        background: theme-color(dark, surface);
    }
}

// Bigger screens
@media (min-width: 1100px) {
    h1 {font-size: 2em;}
    h2 {font-size: 1.7em;}
}