@use "variables" as *;
@use "mixins" as *;

.indexLayout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.picGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing;
    margin-top: $spacing;
    justify-items: center;
    align-items: center;

    picture {
        display: block;
    }
    
    img {
        width: 100%;
        height: auto;
        border-radius: $radius;
        display: block;
    }

    @include respond(small) {
        grid-template-columns: 1fr;
    }
}

// Bigger screens
@media (min-width: 1100px) {
    .picGrid {
        grid-template-columns: repeat(2, minmax(320px, 1fr));
        gap: 1.5rem;
    }
}